#requireResource("de.cranktheory.plugins.confluence.export-table:export-table-resources")
#if ($action.isPrintableVersion())
$body
#else

<div>
    #if( $buttonAbove )
        <button class="aui-button aui-button-subtle aui-button-compact noprint"
            onClick="exportTable(this.parentNode, '$pageId', '$sheetname', '$req.getContextPath()/plugins/servlet/export-table')">
            <span class="aui-icon aui-icon-small aui-iconfont-devtools-clone"></span>
             $i18n.getText("de.cranktheory.plugins.confluence.excel.export.table")
        </button>
    #end
    $body
    <button class="aui-button aui-button-subtle aui-button-compact noprint" style="margin: 10px 0px;"
            onClick="exportTable(this.parentNode, '$pageId', '$sheetname', '$req.getContextPath()/plugins/servlet/export-table')">
            <span class="aui-icon aui-icon-small aui-iconfont-devtools-clone"></span>
             $i18n.getText("de.cranktheory.plugins.confluence.excel.export.table")
    </button>
</div>

#end