#requireResource("de.cranktheory.plugins.confluence.export-table:export-table-resources")
#if ($action.isPrintableVersion())
$body
#else

<div>
    $body
    <button class="aui-button aui-button-subtle aui-button-compact noprint"
            onClick="exportTable(this.parentNode, '$sheetname', '$req.getContextPath()/plugins/servlet/export-table')">
            <span class="aui-icon aui-icon-small aui-iconfont-devtools-clone"></span> Download spreadsheet</button>
</div>

#end