#requireResource("de.cranktheory.confluence.export-table:table-to-excel-resources")
#if ($action.isPrintableVersion())
$body
#else

<div>
    $body
    <button class="aui-button aui-button-subtle aui-button-compact noprint"
            onClick="exportToEXCEL(this, '$sheetname', '$req.getContextPath()/plugins/servlet/tabletoexcel')">
            <span class="aui-icon aui-icon-small aui-iconfont-devtools-clone"></span> Download spreadsheet</button>
</div>

#end